.BookResults {
    border: outset;
    border-color: #223a5e;
    border-width: 5px;
    background-color: white;
    padding: 15px;
}

.padL {
    padding-left: 10px;
}

img{
    max-width: auto;
    max-height: 267px;
}