.myJumboTron {
    height: 250px;
    text-align: center;
    padding-top: 100px;
    margin-top: 40px;
    background-image: url("https://unsplash.com/photos/Oaqk7qqNh_c");
    background-size: cover;
    height: 100%;
}