.myJumboTron {
    height: 150px;
    text-align: center;
    padding-top: 100px;
    margin-top: 40px;
    background-image: url(https://unsplash.com/photos/6pO3QFkk7hQ);
    background-size: cover;
    height: 100%;
}