.BookResults{
    border: solid;
    border-color: black;
    border-width: 3px;

    padding: 15px;
    background-color: white;
   
}

.padL{
    padding-left: 10px;
}

img{
    max-width: auto;
    max-height: 267px;
}