.BookResults {
    border: solid;
    border-color: #223a5e;
    border-width: 3px;
    padding: 15px;
    background: linear-gradient(to bottom, white 0%, rgb(181, 179, 179) 100%)
}

.padL {
    padding-left: 10px;
}

img {
    max-width: auto;
    max-height: 267px;
}

.authorName {
    font-size: 20px;
}

.description {
    font-family: 'Gotu', sans-serif;
}

.saveBtn, .viewBtn {
    margin: 5px;
}

.viewBtn :hover {
    background-color: #E67E22;
    color: #223a5e;
}

.saveBtn :hover {
    background-color: #E67E22;
    color: #223a5e;
}